asgiref==3.8.1
DAWG-Python==0.7.2
Django==5.1.1
django-cors-headers==4.6.0
django-jsoneditor==0.2.4
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
docopt==0.6.2
et_xmlfile==2.0.0
openpyxl==3.1.5
packaging==24.2
pillow==11.0.0
psycopg2==2.9.10
PyJWT==2.9.0
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
setuptools==75.3.0
sqlparse==0.5.1
tzdata==2024.2
