@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	input, .input-class {
		@apply appearance-none text-inherit caret-inherit placeholder:text-inherit placeholder:opacity-40 w-full;
		&:focus {
			outline: none;
		}
	}
	form {
		> label:not(:first-child), > button:not(:first-child) {
			@apply mt-2.5;
		}
	}
	a {
		@apply select-none
	}
	.base-text {
		@apply text-base leading-normal sm:text-lg sm:leading-normal font-normal;
	}
	.title-text {
		@apply text-lg font-medium sm:text-2xl leading-normal sm:leading-normal
	}
	.base-padding {
		@apply px-2.5 py-2;
	}
}

@layer components {
	input, .input-class {
		@apply base-text base-padding block rounded-xl border border-indigo-500;
		&.input-error {
			@apply border-red-500;
		}
	}

	input {
		@apply focus:border-indigo-800;
		&.input-error {
			@apply focus:border-red-500;
		}
	}

	.input-wrapper {
		svg {
			@apply text-indigo-500;
		}
		&.input-focus {
			svg {
				@apply text-black;
			}
		}
		&.input-wrapper-error {
			svg {
				@apply text-red-500;
			}
		}
	}
}

@layer utilities {
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	/* For IE, Edge and Firefox */
	.scrollbar-hide {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

body {
  margin: 0;
	width: 100vw;
	height: 100vh;
	height: 100svh;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
	font-style: normal;
	background: white;
	color: black;
	min-width: 320px;
	margin: 0 auto;
}

.root {
	width: 100%;
	height: 100%;
	padding: var(--safe-area-inset-top, 0px) var(--safe-area-inset-right, 0px) var(--safe-area-inset-bottom, 0px) var(--safe-area-inset-left, 0px);
}

.btn-loader {
	position: relative;
	figure {
		opacity: 0;
	}
	span {
		opacity: 1;
	}
	&.loading {
		figure {
			opacity: 1;
		}
		span {
			opacity: 0;
		}
	}
}

.accordion {
	&.opened {
		.accordion-view {
			visibility: visible;
			@apply border-indigo-800 h-auto mt-2.5;
		  /* @apply border-indigo-800 h-[calc(var(--height)*1.8rem+0.5rem+2px)] sm:h-[calc(var(--height)*2.1875rem+0.5rem+2px)] mt-2.5; */
		  &.with-error {
		    @apply border-red-500;
		  }
		}
	}
}

.react-datepicker-popper {
	position: relative !important;
	transform: none !important;
	@apply mt-2.5;
	.react-datepicker {
		@apply border rounded-xl border-black py-2 w-full;
	}
	.react-datepicker__header, .react-datepicker__month {
		@apply bg-transparent p-0 text-base w-full border-none !important;
	}
	.react-datepicker__month {
		@apply m-0 !important;
	}
	.react-datepicker__header {
		@apply mb-1 pb-2 font-medium border-b border-solid border-b-black !important;
	}
	.react-datepicker__month-container {
		@apply w-full;
	}
}

.react-datepicker__day--today, .react-datepicker__month-text--today, .react-datepicker__quarter-text--today, .react-datepicker__year-text--today {
	@apply font-normal bg-transparent !important;
}

 .react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected, .react-datepicker__day, .react-datepicker__day--011, .react-datepicker__day--selected, .react-datepicker__day--today {
	@apply bg-transparent text-black font-normal !important;
}

.react-datepicker__day--keyboard-selected:not([aria-disabled=true]):hover, .react-datepicker__month-text--keyboard-selected:not([aria-disabled=true]):hover, .react-datepicker__quarter-text--keyboard-selected:not([aria-disabled=true]):hover, .react-datepicker__year-text--keyboard-selected:not([aria-disabled=true]):hover {
	@apply bg-[#f0f0f0] text-black opacity-100 font-normal !important;
}

.react-datepicker__month .react-datepicker__month-text, .react-datepicker__month .react-datepicker__quarter-text {
	@apply m-0.5 py-0.5 w-[calc(33%-0.5rem)] text-sm leading-normal sm:text-lg sm:leading-normal font-normal !important;
}

.react-datepicker__day-name, .react-datepicker__day {
	@apply m-0.5 py-0.5 w-[calc((100%-6*0.5rem)/7)] text-sm leading-normal sm:text-lg sm:leading-normal font-normal !important;
}

.react-datepicker-wrapper {
	width: 100%;
}

.react-datepicker__triangle {
	display: none;
}
